*.swp
.env
nfacctd.conf
sql/create-db.sql

# Docker volumes
pgdata/


# Rust output
goflow2/archiver/target/
goflow2/parquet-datalake/target/
goflow2/flow-api/target/
goflow2/flow-api/data/ip2asn-combined.tsv.gz
